body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost" , sans-serif;
  background : linear-gradient(to bottom , #0f0c29,#302b63 , #24243e);
  border: 1 px solid blueviolet !important;
  min-height: 100vh;
}
.main{
  width: 350px;
  height: 500px;
  overflow: hidden;

  /* background: url('01.jpg') no-repeat center / cover; */
  border:  1px solid green;
  border-radius: 10px;
  box-shadow: 5px 20px  50px #000;
  padding-top:  10px;
}
#chk{
  display: none;
}
.signup{
  position: relative;
  width: 100%;
  height: 100%;
}
label{
  color:#fff;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  margin:  60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input{
  width: 60%;
  height: 20px;
  background: #e0dede;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding:  10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button a {
   text-decoration: none;
   color: white;
}
button:hover{
  background: #6d44b8;
}

.login{
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}
.login label {
  color: #573b8a;
  transform: scale(.6);
}
/* Apply style changes when #chk is checked */
#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~.signup label {
  transform: scale(0.6);
}
